# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider & VSCode
.idea/
.vscode/

# Visual Studio working folder
.vs/

# ASP.NET Secrets
secrets.json

# Runtime
*.db
*.db-journal

# Configuration
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json

# Exclude custom OpenAI key config
**/appsettings.json

# Logs
*.log
logs/

# Dependency folders
packages/
node_modules/

# Others
*.DS_Store
Thumbs.db
